
body{
	background-color: #FFE2B8;
}
.wrapper {
	border: 1.5px black solid;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 15px;
}
h1 {
	text-align: center;
}
ul {
	text-align: center;
	list-style-position: inside;
	list-style-type: none;
}
li {
	display: inline-block;;
	padding: 0 10px;
}
nav {
	font-variant: small-caps;
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 10px;
	margin: 10px;
}
#one {
	display: inline-block;;
	border: 1.5px black solid;
	background-color: #FFE2B8;
}
.picture {
	position: block;
	height: auto;
	width: 25%;
	float: left;
	background-color: #FFC675;
	border: 1px black solid;
	padding: 10px;
}
.description{
	position: block;
	height: auto;
	width: 70%;
	float: right;
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 10px;

}
footer{
	clear: both;
	background-color: #FF957E;
	border: 1px black solid;
}