*{margin: auto; padding:auto; box-sizing:border-box;}

body {
		background-color: #474747;
		text-align: center;
}

header {
		background: repeating-linear-gradient(
			45deg, #FF8503, #FF8503 2px, #FF7805 2px, #FF7805 5px);
}
			.logotype{
					width: 100px;
					font-family: 'Anton', sans-serif;
			}
			#intro{
				background-image: url(https://raw.githubusercontent.com/quimicaproduce/quimicaproduce.github.io/master/unit_3/images/fondo.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				height: 50vh;
			}

h1 { 
		font-family: 'Anton', sans-serif;
		font-size: 5em;
		color: white;
}

p {
		font-family: 'Source Serif Pro', serif;
}
			.boxfiller {
				font-size: 30px;
				color: orange;
				font-weight: lighter;

		}

nav {
		font-family: 'Hind Siliguri', sans-serif;
		margin-bottom: 5px;
}

		nav a {

			font-family: 'Hind Siliguri', sans-serif;
			display: inline-block;
			color: white;
			text-align: center;
			padding: 10px 5px;
			text-decoration: none;
			font-size: 14px;

		}
		nav a:hover {
			background-color: #474747;
			color: orange;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 50em;
    margin-right: 50em;
}

footer {
		background: grey;
		padding: 5px;
}
			.rights {font-family: 'Hind Siliguri', sans-serif; text-align: center;}

			.mediaheader {
					font-family: 'Hind Siliguri', sans-serif;
					margin-bottom: 20px;
					padding-top: 20px;
					text-align: center;
					color: white;
				}
			
			.social {
			width: 30px;
			}

