*{margin: auto; padding:auto; box-sizing:border-box;}

body {
	font-family: 'Frank Ruhl Libre', serif;
	background-color: black;
	font-size: 16px;
}
header{
	height: 70px;
	padding: 0px;
	color: black;
	background-color: orange;
	
}
h1 {
	font-family: 'Raleway', sans-serif;
	color: orange;
	font-size: 4em;
}
h2 {
	font-family: 'Raleway', sans-serif;
	padding-bottom: 20px;
	font-size: 32px;
}
p {
	text-decoration: none;
}
li {text-decoration: none;}

#topnav nav {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	margin: 20px 0 ;
	font-size: 20px;
	float: right;

}
#topnav nav a{
	padding: 20px;
	text-decoration: none;
	color: black;
}
#topnav a:hover{
	background-color: black;
	color: orange;
}
#topnav a:active{
	background-color: green;
}
footer {
	color: lightgrey;
	text-decoration: none;
	background-color: black;
	text-align: center;
	font-size: 16px;
}
footer a{
	text-decoration: none
	color: lightgrey;}

#hero {
	background-image: url(https://raw.githubusercontent.com/quimicaproduce/quimicaproduce.github.io/master/unit_6%20option/images/Hero.png);
	background-size: cover;
	height: 60vh;
	width: 100%;
}
.slogan {
	display: block;
	color: white;
	text-align: center;
	height: 90%;
	width: 30%;
	background-color: rgba(0,0,0,0.70);
	float: right; 
	border-radius: 25px;
}
.slogan h1 {
	margin: .7em;
	font-size: 5em;
}
.slogan h2 {
	font-size: 2em;
	margin: 0 2em;

}

.logo {
	width: 50px;
	padding: 5px;
	margin: 5px;
}
.ivan {
	line-height: 30px;
	display: block;
	text-align: center;
	border-radius: 10px;
	background-color: white;
	color: black;
	width: 49%;
	float: left;
	padding: 10px;
	margin: .5em;
}
.juan {
	line-height: 30px;
	display: block;
	text-align: center;
	border-radius: 10px;
	background-color: lightgrey;
	color: black;
	padding: 10px;
	width: 49%;
	margin: .5em;
	float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#bio {
	width: 100%;
	text-align: center;
	background-color: grey;
	color: white;
}
.juanavatar, .ivanavatar {
	position: relative;
	margin-top: -2em;
	width: 150px;
	border-radius: 5px;
	border: 10px orange solid;
}
#one {
	color: black;
	background-color: lightgrey;
	margin: 0 10px;
	height: 40em;
}
#left {
	color: black;
	background-color: white;
	float: left;
	height: 30em;
	width: 30%;
	padding: 0px;
	margin: 2.5em 0 0 5px;
	border: 3px grey solid;
	border-radius: 5px;
	box-shadow: 4px 4px 20px grey;
}
#right {
	font-size: 20px;
	line-height: 1.5em;
	float: right;
	padding: 40px 10px 0 10px;
	height: 30em;
	width: 68%;
}
#right h2 {
	color: orange;
	text-shadow: 2px 2px 5px grey;
}
.social {
	height: 50px;
	margin: 5px;
}
.mediaheader {
	font-size: 20px;
	color: grey;
}

hr {
	margin: 10px 35%;
}
.boxhead {
	padding: 0;
	width: 100%;
	height: 5em;
}

.aside { 
	padding: 10px;
	display: block;
	height: 70%; 
}

.aside h2 {
	color: orange;
}

#footernav nav{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-decoration: none;
	height: 3em;
	font-size: 20px;
	padding: 10px;
	float: none;
}
#footernav nav a{
	margin: px;
	padding: 20px;
	text-decoration: none;
	color: white;
}
#footernav a:hover{
	background-color: ;
	color: orange;
}
#footernav a:active{
	background-color: green;
}



@media only screen and (max-width: 1620px) {
	h1, h2, nav {
		line-height: center;
	}
	#hero {
		height: 60vh;
	}

	.slogan h2 {
		display: block;
		font-size: 1em;
		margin: 1em ;
	}
	.slogan {
		height: 100%;
		width: 25em;
		float: none;
		line-height: 1.5em;
		text-align: center;
		margin-left: 35%;
		font-size: 1.4em;
	}
	.slogan h1 {
		font-size: 2em;
		line-height: 1.5em;
	}
	nav a {
	}
	img {
		width: auto;
	}
	section, div {
		width: 100%;
		padding: .6em;
	}
	p, ul {
		margin: 1.8em .6em 0;
	}
	li {
		width: 80%;
		outline-width: .5em;
		padding: .5em;
		height: 2em;
		line-height: 2em;
	}
	
	.ivan, .juan {
		width: 48%;
		margin: 0;
		height: 70vh;
	}
	#one {
		width: 100%;
		height: 90vh;
	}
	#left {
	height: 80%;
	}
}

@media only screen and (max-width: 800px) {
	h1, h2, nav {
		margin: 0;
		line-height: center;
	}
	#hero {
		height: 40vh;
		width: 100%;
	}

	.slogan h2 {
		display: block;
		font-size: 1em;
		margin: 1em ;
	}
	.slogan {
		float: none;
		line-height: 1.8em;
		text-align: center;
		width: 70%;
		margin-left: 35%;
		font-size: 1.4em;
	}
	.slogan h1 {
		font-size: 2em;
	}
	nav a {
	}
	img {
		width: auto;
	}
	section, div {
		width: 100%;
		padding: .6em;
	}
	
	.ivan, .juan {
		font-size: 16px;
		float: none;
		text-align: center;
		width: 98%;
		margin: 0 0 10px;
		height: 60vh;
	}
	.juanavatar, .ivanavatar {
		position: inline-block;
		margin: .7em;
		width: 90px;
		border-radius: 5px;
		border: 2px orange solid;}

	#one {
		margin: 0 10px;
		height: 115vh;
		font-size: 14px;}

	#left {
		float: none;
		height: 50%;
		width: 98%;
		margin: auto;
	}
	#right {
		float: none;
		margin: auto;
		width: 100%;
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {
	h1, h2, nav {
		margin: 0;
		line-height: center;
	}
	#hero {
		height: 40vh;
		width: 100%;
	}

	.slogan h2 {
		line-height: 30px;
		display: block;
		font-size: 12px;
		margin: 5px;
	}
	.slogan {
		position: block;
		float: none;
		line-height: 1.8em;
		text-align: center;
		width: 100%;
		margin: 0;
		font-size: 1.4em;
	}
	.slogan h1 {
		font-size: 24px;
	}
	nav a {
		font-size: 10px;
	}
	img {
		width: auto;
	}
	#bio {
		height: 200vh;
	}
	.ivan, .juan {
		text-align: center;
		line-height: 20px;
		font-size: 16px;
		float: none;
		width: 98%;
		margin: 0 0 10px;
		height: 98vh;
	}
	.juanavatar, .ivanavatar {
		position: inline-block;
		margin: .7em;
		width: 90px;
		border-radius: 5px;
		border: 2px orange solid;}

	#one {
		margin: 0 10px;
		height: 200vh;
		font-size: 14px;}

	#left {
		float: none;
		height: 40%;
		width: 98%;
		margin: auto;
	}
	#right {
		float: none;
		margin: auto;
		width: 100%;
		font-size: 14px;
	}
	
}



