body {
	text-align: center;
	background: url(https://raw.githubusercontent.com/quimicaproduce/quimicaproduce.github.io/master/unit_3/images/IMG_4922.jpg);
	background-size: cover;
	color: #FFCC00;
	font-family: verdana;
	border-image-source: 2px;
}

h1 {font-size: 30px;
font-weight: 700;
font-style: italic;
}

hr {width: 150px;
	color: white;
 }
